[submodule "dse"]
	path = dse
	url = https://github.com/tudo-aqua/dse.git
[submodule "spout"]
	path = SPouT
	url = https://github.com/tudo-aqua/spout.git
[submodule "verifier-stub"]
	path = verifier-stub
	url = https://github.com/tudo-aqua/verifier-stub.git
